/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Hardback implementation : © quietmint
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hardback.css
 *
 * hardback stylesheet
 *
 */

.hdefine {
    font-size: 90%;
    font-style: italic;
    margin: 5px -5px -5px;
    padding: 5px;
    border-top: 1px dashed #ccc;
    background: #e8e8e8;
}

.hdefine li {
    list-style: inside square;
    padding-left: 1em;
}

.hicon {
    font-size: 22px;
    vertical-align: middle;
}

.hgenre {
    font-weight: bold;
    padding: 4px 4px 4px 2px;
    border-radius: 4px;
    background: #e8e8e8;
}

.hgenre.Starter {
    background-color: #525252;
    color: #f5f5f5;
}

.hgenre.Adventure {
    background-color: #facc15;
    color: #713f12;
}

.hgenre.Horror {
    background-color: #4d7c0f;
    color: #ecfccb;
}

.hgenre.Mystery {
    background-color: #2563eb;
    color: #dbeafe;
}

.hgenre.Romance {
    background-color: #b91c1c;
    color: #fee2e2;
}

.haward {
    width: 230px;
    height: 169px;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #e8e8e8;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.haward.length7 {
    background: url(img/award7.jpg);
}

.haward.length8 {
    background: url(img/award8.jpg);
}

.haward.length9 {
    background: url(img/award9.jpg);
}

.haward.length10 {
    background: url(img/award10.jpg);
}

.haward.length11 {
    background: url(img/award11.jpg);
}

.haward.length12 {
    background: url(img/award12.jpg);
}