/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Hardback implementation : © quietmint
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hardback.css
 *
 * hardback stylesheet
 *
 */

.player_score {
    margin-left: 46px;
    margin-right: 40px;
}

.panel-stat {
    display: inline-block;
}

.panel-stat .iconify {
    vertical-align: middle;
    padding-left: 2px;
    font-size: 18px;
}

.player {
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 2px dashed #333;
}

.cards {
    padding-bottom: 20px;
    perspective: 800px;
}

.card {
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: left center;
    width: 155px;
    height: 200px;
}

.card .letter {
    position: absolute;
    top: 7px;
    left: 30px;
    right: 30px;
    font-size: 80px;
    text-align: center;
    color: yellow;
    text-shadow: 1px 1px 4px orange;
}

.card .card-actions {
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    text-align: center;
}

.card-actions .action {
    display: inline-block;
    background: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 16px;
    line-height: 1em;
    opacity: .5;
}

.card-actions .action .iconify {
    vertical-align: middle;
}

.card-actions .action:hover {
    opacity: 1;
}