#browser-error {
  display: none;
  background: #d50000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding: 30px;
}

#browser-error .ua {
  color: #ef9a9a;
  font-weight: normal;
  font-size: 75%;
  margin: 6px;
}

#browser-error img {
  padding: 10px;
}

#topbar {
  z-index: unset;
}

#game_play_area {
  margin: 0;
}

#ingame_menu_content {
  opacity: 0.95;
  width: 600px;
}

.preference_range {
  width: 97%;
  display: block;
}

#HGame {
  user-select: none;
}

.hdefine {
  font-style: italic;
  margin: 5px -5px -5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.hdefine table {
  width: 100%;
}

.hicon {
  font-size: 1.4em;
  vertical-align: -0.25em;
  padding-right: 1px;
}

.hgenre {
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  padding: 2px 4px 2px 2px;
  border-radius: 4px;
  background: #e8e8e8;
  height: 1.4em;
  line-height: 1.4em;
}

.hgenre.starter {
  background-color: #525252;
  color: #f5f5f5;
}

.hgenre.adventure {
  background-color: #eab308;
  color: #713f12;
}

.hgenre.horror {
  background-color: #4d7c0f;
  color: #ecfccb;
}

.hgenre.mystery {
  background-color: #1d4ed8;
  color: #dbeafe;
}

.hgenre.romance {
  background-color: #b91c1c;
  color: #fee2e2;
}

.haward {
  width: 230px;
  height: 169px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.haward.length7 {
  background-image: url(award7.jpg);
}

.haward.length8 {
  background-image: url(award8.jpg);
}

.haward.length9 {
  background-image: url(award9.jpg);
}

.haward.length10 {
  background-image: url(award10.jpg);
}

.haward.length11 {
  background-image: url(award11.jpg);
}

.haward.length12 {
  background-image: url(award12.jpg);
}

/* Penny Dreadful name in log messages */

.playername,
a:link.playername,
a:visited.playername {
  color: black;
}

/* Player boards */

.player-board {
  user-select: none;
  background-repeat: no-repeat;
  background-position: top -15px right -5px, top center;
  background-size: auto, cover;
  background-color: #888;
  padding-bottom: 26px;
  color: white;
  text-shadow: -0.5px 0 rgba(0, 0, 0, 0.5), 0.5px 0 rgba(0, 0, 0, 0.5);
}

.roundedbox .roundedbox_top,
.roundedbox .roundedbox_bottom {
  display: none;
}

.roundedbox .roundedbox_main {
  background: none;
}

.boardblock,
.timeToThink {
  background-color: #8889;
}

.player-name a {
  background-color: #8889;
  text-shadow: 0 0 3px white, 0 0 2px white;
}

.player-board.red .player-name a, .player-board.yellow .player-name a {
  text-shadow: 0 0 3px black, 0 0 2px black;
}

.player_board_inner {
  position: static;
}

.mobile_version .player-board .genreCounts {
  border-bottom-right-radius: 8px;
}

.player-board.red {
  background-image: url(book-red.png), url(wood.jpg);
}

.player-board.green {
  background-image: url(book-green.png), url(wood.jpg);
}

.player-board.blue {
  background-image: url(book-blue.png), url(wood.jpg);
}

.player-board.yellow {
  background-image: url(book-yellow.png), url(wood.jpg);
}

.player-board.purple {
  background-image: url(book-purple.png), url(wood.jpg);
}

.player-board.black {
  background-image: url(penny.png), url(wood.jpg);
  background-position: top right, top center;
  background-size: 100px, cover;
  padding-bottom: 5px;
}

#player_board_inner_000000 .player-name,
#player_board_inner_000000 .player_score {
  padding-left: 5px;
}
