:root {
  --hatch-opacity: 0.2;
  --hatch-size: 6px;
}

#debug_output {
  display: none;
}

#browser-error {
  display: none;
  background: theme("colors.red.700");
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding: 30px;
}

#browser-error .ua {
  color: theme("colors.red.300");
  font-weight: normal;
  font-size: 75%;
  margin: 6px;
}

#browser-error img {
  padding: 10px;
}

#loader_mask {
  position: fixed;
  height: 100vh;
}

#loader_mask_background {
  display: none;
}

#topbar {
  z-index: unset;
}

#maintitlebar_content {
  min-height: 35px;
}

#game_play_area {
  margin: 0;
}

#tableinfos {
  font-size: 14px;
  line-height: 1;
}

#pr_gameprogression {
  font-weight: bold;
}

#ingame_menu_content {
  width: 550px;
}

.ingame_menu_item,
.row-data-large .row-label {
  width: 250px;
}

input,
select,
textarea {
  font-size: 15px;
  border-radius: 2px;
}

.preference_range {
  width: 97%;
  display: block;
}

.msgtime {
  position: static;
  right: auto;
  bottom: auto;
  font-size: 75%;
}

.pagesection .wikicontent h2,
.pagesection .wikicontent h3 {
  margin: 12px -12px;
}

.notouch-device a:hover,
a:link,
a:visited {
  color: theme("colors.blue.600");
}

a.bgabutton {
  color: white;
}

a.bgabutton_gray {
  color: black;
}

a.chatwindowtitlelink {
  color: white !important;
}
