@media (prefers-color-scheme: dark) {
  #loader_mask {
    background-color: theme(colors.gray.900);
  }
}

html.dark {
  color: #ddd;
  background-color: theme(colors.gray.900);
  background-image: url(img/bg-dark.jpg);

  .audiovideo_inactive,
  .bgabutton_gray,
  .chatwindowavatar,
  .chatwindowcollapsed,
  .chatwindowcollapsedtitle,
  .chatwindowpreviewmsg,
  .dijitTooltipContainer,
  .head_info,
  .log,
  .standard_popin_closeicon,
  .standard_popin_helpicon,
  #ingame_menu_content,
  a.bgabutton_gray,
  a.ingame_menu_item,
  input,
  select,
  textarea {
    color: #ddd !important;
  }

  .head_error {
    color: black;
  }

  #ingame_menu_content,
  #topbar,
  .standard_popin {
    background: linear-gradient(180deg, theme(colors.gray.950), theme(colors.gray.900));
  }

  .whiteblock {
    background: rgb(0 0 0 / 50%);
  }

  .standard_popin_underlay {
    background-color: black;
  }

  .chatwindowavatar,
  .chatwindowcollapsed,
  .chatwindowexpanded,
  .chatwindowlogs,
  .chatwindowpreviewmsg,
  .current_player_is_active #page-title,
  .gamestate_gameEnd #page-title,
  .head_info,
  .pagesection,
  .roundedbox,
  .tips,
  .tundra .dijitTooltipContainer,
  #loader_mask,
  #page-title,
  #soundControls {
    background: theme(colors.gray.900);
  }

  .chatwindowlogs_zone .roundedbox.chatlog {
    background: none;
  }

  .chatwindowlogs_zone .roundedbox,
  .chatwindowlogs_zone .roundedbox.chatlog .roundedboxinner,
  .log_replayable:hover .roundedbox,
  .log_replayable:hover,
  .notouch-device .chatwindowcollapsed:hover,
  .notouch-device .ingame_menu_item:hover,
  .notouch-device .predefined_message:hover,
  .notouch-device .predefined_textmessage:hover,
  .pageheader,
  .statstable,
  input,
  select,
  textarea {
    background: theme(colors.gray.800);
  }

  .bgabutton_gray,
  a.bgabutton_gray,
  .notouch-device .bgabutton_gray:hover,
  .chatwindowlogs_zone .roundedbox.chatlog.ownchatlog .roundedboxinner {
    background: theme(colors.gray.700);
  }

  .chatwindowlogstitlebar {
    background: theme(colors.gray.600);
  }

  .icon64,
  .imgtext,
  .pagesection h2,
  .pagesection h3,
  .wikicontent {
    filter: invert(1) hue-rotate(180deg);
  }

  .wikicontent {
    color: #212121;
  }

  .pagesection .wikicontent h2,
  .pagesection .wikicontent h3 {
    filter: none;
  }

  .tailwind .title {
    text-shadow: 0 0 3px rgb(0 0 0 / 50%), 0.5px 0.5px rgb(0 0 0 / 50%);
  }

  .statstable th {
    background: #9a520e;
  }

  .playername.red {
    color: theme(colors.red.500);
  }

  .playername.green {
    color: theme(colors.green.500);
  }

  .playername.blue {
    color: theme(colors.blue.500);
  }

  .playername.yellow {
    color: theme(colors.yellow.500);
  }

  .playername.purple {
    color: theme(colors.purple.500);
  }
}
