/*! @import */

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Monoton&family=Almendra:wght@700&family=Meddon&display=swap');
@tailwind base;
@layer base {
    button:focus {
        outline: none;
    }
    .bg-black {
        --tw-bg-opacity: 1;
        background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    }
    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .text-black {
        --tw-text-opacity: 1;
        color: rgba(0, 0, 0, var(--tw-text-opacity));
    }
    .text-white {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }
}

@tailwind components;
@tailwind utilities;
.font-adventure {
    font-family: 'Monoton', sans-serif;
}

.font-horror {
    font-family: 'Almendra', 'Snowburst One', serif;
}

.font-romance {
    font-family: 'Meddon', serif;
    text-shadow: 0 0 5px white;
    font-size: 4.5rem;
    line-height: 6rem;
}

.font-mystery {
    font-family: 'New Rocker', serif;
    text-shadow: -1px 0 1px white, 1px 0px 1px black;
}

.pricetag {
    background: white;
    width: 26px;
    text-align: center;
}

.pricetag::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 0 13px 8px 13px;
    border-color: transparent transparent white transparent;
}

.hanging {
    text-indent: -.75rem;
    margin-left: .75rem;
}

.container-tableau {
    background: url(paper.jpg);
}

.v-leave-active, .v-move {
    transition: opacity 500ms ease, transform 500ms ease;
}

.v-leave-from {
    opacity: 1;
}

.v-leave-to {
    opacity: 0;
}

/*
.v-enter-active, .v-leave-active, .v-move {
    transition: transform 500ms ease;
}

.v-leave-active {
    position: absolute;
}

.v-enter-from, .v-leave-to {
    opacity: 0;
    transform: translateX(12rem);
}
*/

.tailwind svg.inline {
    vertical-align: -0.15rem;
}