/*! @import */

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@font-face {
    font-family: 'Regina Black Hilite';
    src: url('subset-ReginaBlack-Hilite.woff2') format('woff2'), url('subset-ReginaBlack-Hilite.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Didot LT Std';
    src: url('subset-DidotLTStd-Bold.woff2') format('woff2'), url('subset-DidotLTStd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Germania';
    src: url('subset-Germania.woff2') format('woff2'), url('subset-Germania.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jaggard Two';
    src: url('subset-JaggardTwo.woff2') format('woff2'), url('subset-JaggardTwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@layer base {
    button:focus {
        outline: none;
    }
}

@tailwind components;
@tailwind utilities;
.cardlist {}

.cardholder {
    perspective: 600px;
    transition: transform 500ms ease-out;
}

.card {
    transition: transform 500ms ease-out;
    transform-style: preserve-3d;
}

.card.wild {
    transform: rotateY(180deg);
}

.cardface {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardface.back {
    @apply bg-gray-700;
    background-image: url(wild.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.wildletter {
    @apply text-blue-100 text-9xl;
    font-family: 'Didot LT Std', serif;
    text-shadow: -1px 1px theme('colors.blue.500'), 1px -1px theme('colors.blue.700'), 0 0 4px #0008;
}

.card-starter .front {
    @apply bg-gray-500;
    background-image: url(starter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-starter .letter {
    @apply text-yellow-500 text-8xl pt-2;
    font-family: 'Didot LT Std', serif;
    text-shadow: -1px 1px white, 1px -1px black, 0 0 4px black;
}

.card-adventure {
    @apply bg-yellow-700;
    background-image: url(adventure.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-adventure .letter {
    @apply text-yellow-300 text-8xl;
    font-family: 'Regina Black Hilite', sans-serif;
    text-shadow: -1px 1px theme('colors.red.400'), 1px -1px theme('colors.yellow.900');
}

.card-horror {
    @apply bg-green-900;
    background-image: url(horror.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-horror .letter {
    @apply text-green-400 text-8xl bg-clip-text;
    font-family: 'Germania';
    text-shadow: -2px 2px theme('colors.green.700'), 2px -2px theme('colors.green.200');
}

.card-romance {
    @apply bg-red-800;
    background-image: url(romance.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-romance .letter {
    @apply text-yellow-300 text-9xl pt-1;
    font-family: 'Jaggard Two', serif;
    text-shadow: -1px 1px theme('colors.red.200'), 1px -1px theme('colors.red.900'), 0 0 white;
}

.card-mystery {
    @apply bg-blue-500;
    background-image: url(mystery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-mystery .letter {
    @apply text-blue-800 text-8xl;
    font-family: 'New Rocker', serif;
    text-shadow: -1px 1px theme('colors.blue.100'), 1px -1px theme('colors.gray.900');
}

.timeless {
    background-size: cover;
    background-repeat: no-repeat;
}

.hanging {
    text-indent: -.75rem;
    margin-left: .75rem;
}

.container-tableau {}

.v-leave-active, .v-move {
    transition: opacity 500ms ease, transform 500ms ease;
}

.v-leave-from {
    opacity: 1;
}

.v-leave-to {
    opacity: 0;
}

/*
.v-enter-active, .v-leave-active, .v-move {
    transition: transform 500ms ease;
}

.v-leave-active {
    position: absolute;
}

.v-enter-from, .v-leave-to {
    opacity: 0;
    transform: translateX(12rem);
}
*/

.tailwind svg.inline {
    vertical-align: -0.15rem;
}