@tailwind base;
@layer base {
  .hb-ring,
  .hb-ring-2 {
    --tw-ring-offset-shadow: 0 0 transparent !important;
  }
  .hb-ring {
    --tw-ring-shadow: 0 0 0 6px var(--tw-ring-color) !important;
  }
  .hb-ring-2 {
    --tw-ring-shadow: 0 0 0 2px var(--tw-ring-color) !important;
  }
  button:focus {
    outline: none;
  }
}

@tailwind components;
@tailwind utilities;
@layer utilities {
  .hb-touch-none {
    touch-action: none;
  }
  .hb-adjust-none {
    text-size-adjust: none;
  }
}

.hb-title {
  text-shadow: 0 0 3px rgb(255 255 255 / 50%), 0.5px 0.5px rgb(255 255 255 / 50%);
}

.hb-buttongroup {
  @apply hb-rounded-lg hb-shadow hb-overflow-hidden hb-whitespace-nowrap hb-cursor-pointer hb-text-14 hb-text-center hb-divide-x hb-divide-white hb-self-start;
}

.hb-button {
  @apply hb-uppercase hb-px-2 hb-transition-all hb-duration-300 hb-cursor-pointer hb-font-bold;
}

.hb-button.hb-black {
  @apply hb-bg-black hb-text-white;
}

.hb-button.hb-white {
  @apply hb-bg-white hb-text-black;
}

.hb-button.hb-blue {
  @apply hb-bg-blue-700 hb-text-white;
}

.hb-button.hb-blue.hb-active {
  @apply hb-bg-blue-100 hb-text-blue-700;
}

.hb-button.hb-red {
  @apply hb-bg-red-700 hb-text-white;
}

.hb-button.hb-disabled {
  @apply hb-cursor-not-allowed hb-opacity-50;
}

.hb-tabgroup {
  @apply hb-flex hb-grow hb-justify-evenly;
}

.hb-tab {
  @apply hb-border-t-2 hb-border-l-2 hb-border-r-2 hb-rounded-t-lg hb-px-4 hb-py-2 hb-font-bold;
  border-color: inherit;
}

.hb-tabbottom {
  @apply hb-border-b-2 hb-border-l-2 hb-border-r-2 hb-rounded-b-lg hb-px-4 hb-py-2 hb-font-bold;
  border-color: inherit;
}

.hb-cardholder {
  transition: transform 0.5s ease-in;
  perspective: 600px;
  z-index: 1;
}

.hb-card {
  transition: transform 0.5s cubic-bezier(0.7, 1.2, 1, 1), all 0.5s ease-in;
  transform-style: preserve-3d;
  width: 8.75em;
  height: 11em;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.hb-tailwind.hb-cardsize-1 .hb-card {
  font-size: 10px;
}
.hb-tailwind.hb-cardsize-2 .hb-card {
  font-size: 11px;
}
.hb-tailwind.hb-cardsize-3 .hb-card {
  font-size: 12.1px;
}
.hb-tailwind.hb-cardsize-4 .hb-card {
  font-size: 13.3px;
}
.hb-tailwind.hb-cardsize-5 .hb-card {
  font-size: 14.5px;
}
.hb-tailwind.hb-cardsize-6 .hb-card {
  font-size: 15.8px;
}
.hb-tailwind.hb-cardsize-7 .hb-card {
  font-size: 17.1px;
}

.hb-card.hb-timeless:not(.hb-wild) {
  width: 11em;
  height: 8.75em;
}

.hb-card.hb-wild {
  transform: rotateY(180deg);
}

.hb-cardface {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.hb-cardface.hb-back {
  @apply hb-bg-gray-700;
  background-image: url(img/wild.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotateY(180deg);
}

/* z-index needed for drag-and-drop ghost images */
.hb-cardface.hb-front {
  z-index: 1;
}
.hb-card.hb-wild .hb-cardface.hb-back {
  z-index: 2;
}

.hb-wildletter {
  @apply hb-text-blue-100;
  font-size: 7em;
  line-height: 150%;
  font-family: "Bodoni Moda", serif;
  text-shadow: -2px 2px theme("colors.blue.400"), 1px -1px theme("colors.blue.700"), 0 0 4px #0008;
}

.hb-card .hb-letter {
  width: 100%;
}

.hb-card.hb-timeless .hb-letter {
  margin-top: 0;
  width: 56.5%;
}

.hb-card .hb-benefits {
  left: 0;
  right: 0;
  bottom: 0;
  height: 37%;
  overflow: hidden;
}

.hb-card.hb-timeless .hb-benefits {
  top: 13%;
  bottom: 0;
  left: unset;
  right: 0;
  width: 45%;
  height: unset;
}

.hb-card-starter .hb-cardface.hb-front {
  @apply hb-bg-gray-500;
  background-image: url(img/starter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hb-card-starter .hb-letter {
  @apply hb-text-yellow-500;
  margin-top: 18.6%;
  font-size: 4.625em;
  font-family: "Bodoni Moda", serif;
  text-shadow: -1px 1px white, 1px -1px black, 0 0 4px black;
}

.hb-card-adventure .hb-cardface.hb-front {
  @apply hb-bg-yellow-700;
  background-image: url(img/adventure.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hb-card-adventure.hb-timeless .hb-cardface.hb-front {
  background-image: url(img/adventure-timeless.jpg);
}

.hb-card-adventure .hb-letter {
  @apply hb-text-yellow-400;
  margin-top: 17.2%;
  margin-left: -2%;
  font-size: 4.875em;
  font-family: "Big Shoulders Inline Text", serif;
  text-shadow: -2px 0px 8px theme("colors.red.500"), 2px 2px theme("colors.yellow.900");
}

.hb-card-adventure .hb-letter.hb-letter-Q {
  font-size: 4.15em;
}

.hb-card-adventure .hb-letter.hb-letter-M,
.hb-card-adventure .hb-letter.hb-letter-N,
.hb-card-adventure .hb-letter.hb-letter-W {
  font-size: 4.5em;
  line-height: 108%;
}

.hb-card-horror .hb-cardface.hb-front {
  @apply hb-bg-green-900;
  background-image: url(img/horror.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hb-card-horror.hb-timeless .hb-cardface.hb-front {
  background-image: url(img/horror-timeless.jpg);
}

.hb-card-horror .hb-letter {
  @apply hb-text-green-400;
  font-size: 5.25em;
  margin-top: 17.2%;
  line-height: 80%;
  font-family: "Finger Paint", serif;
  text-shadow: -2px 2px theme("colors.green.700"), 1px -1px theme("colors.green.200");
}

.hb-card-horror .hb-letter.hb-letter-C,
.hb-card-horror .hb-letter.hb-letter-F,
.hb-card-horror .hb-letter.hb-letter-T,
.hb-card-horror .hb-letter.hb-letter-V {
  margin-top: 20%;
}

.hb-card-horror .hb-letter.hb-letter-E {
  margin-top: 18.6%;
}

.hb-card-horror .hb-letter.hb-letter-I,
.hb-card-horror .hb-letter.hb-letter-R {
  margin-top: 21.5%;
}

.hb-card-horror .hb-letter.hb-letter-J,
.hb-card-horror .hb-letter.hb-letter-Z {
  margin-top: 14%;
}

.hb-card-horror .hb-letter.hb-letter-Q {
  font-size: 4.8125em;
  margin-top: 21.5%;
}

.hb-card-horror.hb-timeless .hb-letter {
  margin-top: 4%;
}

.hb-card-romance .hb-cardface.hb-front {
  @apply hb-bg-red-800;
  background-image: url(img/romance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hb-card-romance.hb-timeless .hb-cardface.hb-front {
  background-image: url(img/romance-timeless.jpg);
}

.hb-card-romance .hb-letter {
  @apply hb-text-red-200;
  margin-top: 17%;
  margin-left: -5%;
  font-size: 4.75em;
  font-family: "Pacifico", cursive;
  text-shadow: 1px 1px theme("colors.red.500");
}

.hb-card-romance .hb-letter.hb-letter-G,
.hb-card-romance .hb-letter.hb-letter-Q,
.hb-card-romance .hb-letter.hb-letter-Y {
  margin-top: 14%;
  font-size: 4.25em;
}

.hb-card-romance .hb-letter.hb-letter-M {
  margin-top: 22%;
  margin-left: -2%;
  font-size: 4em;
}

.hb-card-romance .hb-letter.hb-letter-P {
  margin-top: 14%;
}

.hb-card-romance .hb-letter.hb-letter-V {
  margin-top: 18%;
  margin-left: 0;
  font-size: 5em;
  font-family: "Merienda", cursive;
}

.hb-card-romance .hb-letter.hb-letter-W {
  margin-top: 18%;
  margin-left: -3%;
  font-size: 4.5em;
}

.hb-card-romance.hb-timeless .hb-letter {
  margin-top: 4%;
}

.hb-card-mystery .hb-cardface.hb-front {
  @apply hb-bg-blue-500;
  background-image: url(img/mystery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hb-card-mystery.hb-timeless .hb-cardface.hb-front {
  background-image: url(img/mystery-timeless.jpg);
}

.hb-card-mystery .hb-letter {
  @apply hb-text-blue-800;
  margin-top: 15%;
  font-size: 5.25em;
  font-family: "New Rocker", serif;
  text-shadow: -1px 1px theme("colors.blue.100"), 1px -1px theme("colors.gray.900");
}

.hb-card-mystery .hb-letter.hb-letter-J,
.hb-card-mystery .hb-letter.hb-letter-L,
.hb-card-mystery .hb-letter.hb-letter-Q {
  font-size: 4.875em;
  margin-top: 12%;
}

.hb-card-mystery .hb-letter.hb-letter-N {
  font-size: 4.875em;
  margin-top: 14%;
}

.hb-card-mystery.hb-timeless .hb-letter {
  margin-top: 1%;
}

.hb-bookmark {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
  top: 0;
  left: 0.1875em;
  width: 1.75em;
  height: 4em;
}

.hb-bookmark .hb-icon {
  margin-left: 0.125em;
  margin-bottom: 0.25em;
  font-size: 1.5em;
}

.hb-timeless .hb-bookmark {
  left: 0;
  top: unset;
  bottom: 0.1875em;
  width: 4em;
  height: 1.75em;
}

.hb-timeless .hb-bookmark .hb-icon {
  margin-left: 0;
  margin-bottom: 0.125em;
}

.hb-timeless .hb-bookmark div:last-child {
  @apply hb-pl-1;
  padding-top: 0.125em;
}

.hb-card-adventure .hb-bookmark {
  text-shadow: 1px 1px 1px rgb(255 255 255 / 50%);
}

.hb-bookmark .hb-star {
  margin-left: -0.125em;
}

.hb-fade-enter-active,
.hb-fade-leave-active {
  transition: opacity 0.3s ease;
}

.hb-fade-enter-from,
.hb-fade-leave-to {
  opacity: 0;
}

/* Player panels */

.hb-tailwind.hb-panelbg {
  margin: 0 -3px -5px -3px;
  clear: both;
  display: grid;
  grid-template:
    "left . right" auto
    "bottom bottom bottom" auto
    / 110px auto 115px;
}

.hb-panel-left {
  grid-area: left;
}

.hb-panel-right {
  grid-area: right;
}

.hb-panel-bottom {
  grid-area: bottom;
}

.hb-panel-ink {
  background: no-repeat url(img/panel-ink.png);
  height: 62px;
  padding: 0 3px 6px;
}

.hb-panel-opt {
  @apply hb-rounded-full hb-bg-white/75 hb-text-black hb-border-3 hb-border-dashed hb-border-gray-800 hb-text-17 hb-text-center hb-font-bold hb-shadow hb-whitespace-nowrap;
  width: 45px;
  height: 45px;
  line-height: 39px;
}

.hb-panel-signature {
  clear: both;
  min-height: 115px;
  margin-right: 100px;
}

.hb-panel-novel {
  font-family: "Staatliches", serif;
}

.hb-genreCounts div {
  transition: width 0.3s ease-in;
}

.hb-icon-left,
.hb-icon-right {
  width: 0.7em;
}

.hb-popup .hb-genre {
  @apply hb-rounded-lg hb-px-2;
}

.hb-popup .hb-genre .hb-hicon {
  @apply hb-inline hb-text-110;
  vertical-align: -3px;
}

.hb-no-animation .hb-button,
.hb-no-animation .hb-card,
.hb-no-animation .hb-cardholder,
.hb-no-animation .hb-fade-enter-active,
.hb-no-animation .hb-fade-leave-active,
.hb-no-animation .hb-genreCounts div {
  transition: none !important;
}
