svg.hb-inline {
  vertical-align: -3px;
}

#HGame {
  user-select: none;
}

#hword {
  border-top: 1px dotted #999;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 16px;
  line-height: 28px;
}

.hb-define {
  @apply hb-flex hb-flex-wrap;
}

a.hb-dictionarylink {
  @apply hb-rounded-lg hb-px-2 hb-m-1 hb-whitespace-nowrap hb-text-blue-600 hb-bg-black/10 dark:hb-bg-white/10;
}

.hb-icon {
  font-size: 1.3em;
  vertical-align: -0.25em;
  padding-right: 1px;
}

.hb-genre {
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  padding: 2px 4px 2px 2px;
  border-radius: 4px;
  background: #e8e8e8;
  height: 1.3em;
  line-height: 1.3em;
}

.hb-genre.starter,
.hb-genre.⚫ {
  background-color: theme("colors.gray.600");
  color: theme("colors.gray.100");
}

.hb-genre.adventure,
.hb-genre.🧭 {
  background-color: theme("colors.yellow.500");
  color: theme("colors.yellow.900");
}

.hb-genre.horror,
.hb-genre.💀 {
  background-color: theme("colors.green.700");
  color: theme("colors.green.100");
}

.hb-genre.mystery,
.hb-genre.🔎 {
  background-color: theme("colors.blue.700");
  color: theme("colors.blue.100");
}

.hb-genre.romance,
.hb-genre.❤️ {
  background-color: theme("colors.red.700");
  color: theme("colors.red.100");
}

.hb-award {
  width: 230px;
  height: 169px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.hb-award.hb-length7 {
  background-image: url(img/award7.jpg);
}

.hb-award.hb-length8 {
  background-image: url(img/award8.jpg);
}

.hb-award.hb-length9 {
  background-image: url(img/award9.jpg);
}

.hb-award.hb-length10 {
  background-image: url(img/award10.jpg);
}

.hb-award.hb-length11 {
  background-image: url(img/award11.jpg);
}

.hb-award.hb-length12 {
  background-image: url(img/award12.jpg);
}

/* Player boards */
.mobile_version #player_boards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mobile_version .player-board {
  float: none;
  flex: 1 0 220px;
  max-width: 50%;
}

.player-board {
  user-select: none;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top -15px right -5px;
  background-size: auto;
  background-color: #777;
  color: white;
}

.player-board .text-shadow,
.player_score,
.player_showcursor,
.player_table_status,
.panel-signature {
  text-shadow:
    -0.5px 0 rgb(0 0 0 / 50%),
    0.5px 0 rgb(0 0 0 / 50%);
}

.roundedbox .roundedbox_top,
.roundedbox .roundedbox_bottom {
  display: none;
}

.roundedbox .roundedbox_main {
  background: none;
}

.boardblock,
.timeToThink {
  background-color: #7779;
}

.player-name a {
  background-color: #7779;
  text-shadow:
    0 0 white,
    0 0 2px white,
    1px 1px rgb(255 255 255 / 50%) !important;
}

.playername.hb-red {
  color: theme("colors.red.700");
}

.playername.hb-green {
  color: theme("colors.green.700");
}

.playername.hb-blue {
  color: theme("colors.blue.700");
}

.playername.hb-yellow {
  color: theme("colors.yellow.600");
}

.playername.hb-purple {
  color: theme("colors.purple.700");
}

.playername.hb-black {
  color: black;
}

.player-board.hb-red .player-name a,
.player-board.hb-yellow .player-name a {
  text-shadow:
    0 0 black,
    0 0 2px black,
    1px 1px rgb(0 0 0 / 50%) !important;
}

.player-board.hb-red {
  background-image: url(img/book-red.png);
}

.player-board.hb-green {
  background-image: url(img/book-green.png);
}

.player-board.hb-blue {
  background-image: url(img/book-blue.png);
}

.player-board.hb-yellow {
  background-image: url(img/book-yellow.png);
}

.player-board.hb-purple {
  background-image: url(img/book-purple.png);
}

.player-board.hb-black {
  background-image: url(img/penny.png);
  background-position: top right;
  background-size: 100px;
  padding-bottom: 5px;
}

#player_board_inner_000000 .player-name,
#player_board_inner_000000 .player_score {
  padding-left: 5px;
}

.player_elo_wrap {
  display: block;
}

.arena_mode .player_elo_wrap,
.training_mode .player_elo_wrap {
  display: none;
}

.player_elo_wrap .gamerank {
  top: 0;
}
